.headshot {
  max-width: 20rem;
  
}
.about-paragraph {
  max-width: 60%;
}
.paragraph-container {
  display: flex;
  justify-content: space-around;
}
.about-container {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 3rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;


}
.card-container {
  display: flex;
  flex-wrap: wrap;



}


@media (max-width: 1000px) {
  .navbar-collapse {
      display: block !important;  
      height: auto !important;    
  }
}